<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <title>Document</title>
</head>
<body>
    

    <header class="nav">
        <nav>
            <div class="logo">
                <h1><a href="#" id="reload__top">Server Tooling</a></h1>
            </div>
            
            <div class="cart__header__desktop">
                <h1>Get Status from LANs</h1>
            </div>
        </nav>
    </header>


    <section class="fill__info">

        <div class="fill__info">

            <div style="color: #fff;" class="inputs" id="inputs_append">
             
              
                
            </div>

        </div>

    </section>



    <script src="{{ url_for('static',filename='js/app.js') }}"></script>
    <script src="{{ url_for('static',filename='js/app2.js') }}"></script>
</body>
</html>
